.circle-avatar {
    border-radius: 50%;
    width: 1000px;
    height: 450px;
}

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
}

.nav-link {
    color: rgb(255, 100, 100);
}

.nav-link:hover {
    color: rgb(255, 10, 10, 1);
}

