hr {
  border: 2px solid darkred;
  width: 100%;
}
body {
  margin-top: 0;
  background-color: #151515;
  width: 99%;
  height: 100%;
}
h1 {
  color: white;
}
h2 {
  color: white;
}
h3 {
  color: white;
}
li {
  color: white;
}
.site-bar {
  width: 100%;
  margin: 0;
  position: fixed;
  background-color: #151515;
}
